DATABASE_URL="mysql://user:password@host:port/dbname"
DATABASE_URL_SHADOW="mysql://user:password@host:port/dbname_shadow"
DATABASE_USER="user"
DATABASE_PASSWORD="password"
DATABASE_NAME="dbname"
DATABASE_NAME_SHADOW="dbname_shadow"
DATABASE_HOST="host"
DATABASE_PORT="port"

# NextAuth
AUTH_SECRET="secret" # run `node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"` to generate a new secret
NEXTAUTH_URL="http://example.com"
AUTH_TRUST_HOST=true

FTP_HOST="ftp.example.com"
FTP_API_KEY="your_ftp_api_key"
FTP_SECRET_KEY="your_ftp_secret_key"